.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgba(159,0,3,1.00); }
.wall          { background: black;   }
.floater	   { background: rgba(37,126,50,1.00);}

.actor  { position: absolute;  }
.coin   { background: rgba(151,112,15,1.00); }
.player { background: rgba(67,11,171,1.00); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
